This is the notebook for pulling data from neuPrint dataset, and save it into .csv file. For the TOKEN below, please change it to the personal token in neuPrint website. You can creat a new account [here](https://neuprint.janelia.org/help). Please check the website for more instructions.

In [3]:
# pulling data from neuprint
from neuprint import Client, fetch_adjacencies

TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNsaXUyMzA4NUBnbWFpbC5jb20iLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGg2Lmdvb2dsZXVzZXJjb250ZW50LmNvbS8tMUVwYnpsRW43SFEvQUFBQUFBQUFBQUkvQUFBQUFBQUFBQUEvQU1adXVjbG5CZkFRY2xNNlEyQXdwelZ6UlRVOXREdlQ3Zy9zOTYtYy9waG90by5qcGc_c3o9NTA_c3o9NTAiLCJleHAiOjE3OTI4NDM2MTR9.1XqWUCaHS29xWjdd-HFwEdVeYZKkB90zV-BXvkHUyjw"
c = Client('neuprint.janelia.org', 'hemibrain:v1.2', TOKEN)
c.fetch_version()

'0.1.0'

In [4]:
from neuprint import fetch_roi_hierarchy
# Show the ROI hierarchy, with primary ROIs marked with '*'
print(fetch_roi_hierarchy(False, mark_primary=True, format='text'))

hemibrain
 +-- AL(L)*
 +-- AL(R)*
 +-- AOT(R)
 +-- CX
 |   +-- AB(L)*
 |   +-- AB(R)*
 |   +-- EB*
 |   +-- FB*
 |   +-- NO*
 |   +-- PB*
 +-- GC
 +-- GF(R)
 +-- GNG*
 +-- INP
 |   +-- ATL(L)*
 |   +-- ATL(R)*
 |   +-- CRE(L)*
 |   +-- CRE(R)*
 |   +-- IB*
 |   +-- ICL(L)*
 |   +-- ICL(R)*
 |   +-- SCL(L)*
 |   +-- SCL(R)*
 +-- LH(R)*
 +-- LX(L)
 |   +-- BU(L)*
 |   +-- LAL(L)*
 +-- LX(R)
 |   +-- BU(R)*
 |   +-- LAL(R)*
 +-- MB(+ACA)(R)
 |   +-- MB(R)
 |   |   +-- CA(R)*
 |   |   +-- PED(R)*
 |   |   +-- a'L(R)*
 |   |   +-- aL(R)*
 |   |   +-- b'L(R)*
 |   |   +-- bL(R)*
 |   |   +-- gL(R)*
 |   +-- dACA(R)
 |   +-- lACA(R)
 |   +-- vACA(R)
 +-- MB(L)
 |   +-- CA(L)*
 |   +-- a'L(L)*
 |   +-- aL(L)*
 |   +-- b'L(L)*
 |   +-- bL(L)*
 |   +-- gL(L)*
 +-- OL(R)
 |   +-- AME(R)*
 |   +-- LO(R)*
 |   +-- LOP(R)*
 |   +-- ME(R)*
 +-- PENP
 |   +-- CAN(R)*
 |   +-- FLA(R)*
 |   +-- PRW*
 |   +-- SAD*
 +-- POC
 +-- SNP(L)
 |   +-- SIP(L)*
 |   +-- SMP(L)*
 +-- SNP(R)
 |   +-- SIP(R)*
 |   +-- SLP(R)*
 |   +-- SMP(R)*
 +-- VLNP(R)
 |   +-- AOTU(R)*
 |   +-- AVLP(R)*
 |   +-- PLP(R)*
 |   +-- PVLP(R)*
 |   +-- WED(R)*
 +-- VMNP
 |   +-- EPA(L)*
 |   +-- EPA(R)*
 |   +-- GOR(L)*
 |   +-- GOR(R)*
 |   +-- IPS(R)*
 |   +-- SPS(L)*
 |   +-- SPS(R)*
 |   +-- VES(L)*
 |   +-- VES(R)*
 +-- mALT(L)
 +-- mALT(R)

In [6]:
from neuprint import NeuronCriteria as NC

criteria = NC(rois=['AL(L)', 'AL(R)', 'AOT(R)', 'CX', 'GC', 'GF(R)', 'GNG', 'INP', 
                    'LH(R)', 'LX(L)','LX(R)', 'MB(+ACA)(R)', 'MB(L)', 'OL(R)', 'PENP', 
                    'POC', 'SNP(L)', 'SNP(R)', 'VLNP(R)', 'VMNP', 'mALT(L)', 'mALT(R)'])

In [7]:
from neuprint import fetch_neurons
neuron_df, roi_counts_df = fetch_neurons(criteria)

In [8]:
neuron_df[['bodyId', 'instance', 'type', 'pre', 'post', 'status', 'cropped', 'size']]

Empty DataFrame
Columns: [bodyId, instance, type, pre, post, status, cropped, size]
Index: []

In [9]:
roi_counts_df

Empty DataFrame
Columns: [bodyId, roi, pre, post]
Index: []

In [10]:
from neuprint import fetch_adjacencies, NeuronCriteria as NC

neuron_df, conn_df = fetch_adjacencies(None, None)

  0%|          | 0/931 [00:00<?, ?it/s]

In [11]:
conn_df.sort_values('weight', ascending=False)

         bodyId_pre  bodyId_post     roi  weight
7921957  5813105172    425790257   gL(R)    1409
7923628  5813105172    799586652   gL(R)    1028
7264768  5813024698   5901218894   AL(R)    1015
4930197  1640909284   5901218894   AL(R)     930
7262222  5813024698   1670287030   AL(R)     884
...             ...          ...     ...     ...
3396391  1170757967   1293524706  b'L(L)       1
3396390  1170757967   1293516343  b'L(L)       1
3396389  1170757967   1265265388  b'L(L)       1
3396387  1170757967   1265261373  b'L(L)       1
8055235  7112626733   5813130028  SMP(R)       1

[8034510 rows x 4 columns]

In [12]:
from neuprint import merge_neuron_properties

conn_df = merge_neuron_properties(neuron_df, conn_df, ['type', 'instance'])
conn_df

,bodyId_pre,bodyId_post,roi,weight,type_pre,instance_pre,type_post,instance_post
0,106979579,1040004619,SAD,1,None,Franken1,CL304,CL304_R
1,106979579,2099569651,SAD,1,None,Franken1,None,None
2,106979579,2157206476,SAD,1,None,Franken1,SAD022,SAD022_R
3,106979579,2535443901,SAD,1,None,Franken1,None,None
4,106979579,5813024910,SAD,1,None,Franken1,SAD022,SAD022_R
...,...,...,...,...,...,...,...,...
8034505,7112626669,5813018847,AL(R),1,None,None,vLN27,vLN27_R
8034506,7112626733,327588225,SMP(R),1,None,None,SMP083,SMP083_R
8034507,7112626733,330640044,SMP(R),1,None,None,SMP181,SMP181_R
8034508,7112626733,357945155,SMP(R),1,None,None,SMP119,SMP119_L
8034509,7112626733,5813130028,SMP(R),1,None,None,SMP407,SMP407_R

In [13]:
import pandas as pd
conn_df.to_csv("Neuprint_connections.csv")